*.[1-9]
*.gcda
*.gcno
*.la
*.lo
*.o
*.pyc
*.tar.gz
*~
.*swp
.deps
.dirstamp
.libs
Makefile
Makefile.in
TAGS
ar-lib
aclocal.m4
autom4te.cache
autoscan.log
build-aux
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
coverage-html
depcomp
doc/doxygen/Doxyfile
doc/doxygen/doxygen.warnings
doc/doxygen/doxygen-warnings
doc/doxygen/doxygen-warnings.txt
doc/doxygen/html
doc/doxygen/latex
install-sh
libtool
ltmain.sh
missing
include/stamp-h1
fsmtrie/libfsmtrie.pc
fsmtrie/version.h
tags
examples/ascii
examples/eascii
examples/token
examples/print_version
stamp-h1
tests/*.out
tests/*.log
tests/*.trs
tests/test-trie-insert-and-asearch-subsearch
tests/test-trie-insert-and-search
test-suite.log
