Source: fsmtrie
Section: net
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Priority: optional
Build-Depends:
 debhelper (>= 9~),
 dh-autoreconf,
 pkg-config,
 libbsd-dev,
 check (>= 0.9.10~),
 lcov,
Standards-Version: 3.9.8

Package: libfsmtrie3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast String Matching library
 This is the Fast String Matcher Trie project. This C-based library
 provides a simple API for the storage and fast matching of ASCII,
 Extended ASCII, and 32-bit wide "token" strings.
 .
 This package contains libfsmtrie.

Package: libfsmtrie-dev
Section: libdevel
Architecture: any
Depends: libfsmtrie3 (= ${binary:Version}), libbsd-dev, ${misc:Depends}
Description: Fast String Matching library (development files)
 This is the Fast String Matcher Trie project. This C-based library
 provides a simple API for the storage and fast matching of ASCII,
 Extended ASCII, and 32-bit wide "token" strings.
 .
 This package contains the static library and header file for libfsmtrie.
