#! /usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_configure:
	autoconf
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

# use tmp as dh_install expects
override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp --

override_dh_install:
	dh_install --fail-missing --

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
